// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
select, input {
  display: block;
  margin-bottom: 10px;
}

input[type='submit'] {
  margin-top: 10px;
}

.flight {
  display: inline-block;
  border: solid 1px blue;
  margin: 10px;
}

.flight-select input {
  display: inline;
}
